
h1
{color:navy;
text-align: center;
text-shadow: 3px 2px gray;
font-family: 'Vast Shadow';
font-size: 60px;
padding:30px;
margin: 0;


}
h2
{
    text-align: center;
    color:black;
    font-family: 'Shadows Into Light Two';
    margin:-20px;
    padding:0
    

}
body{
background-color: lightblue;
}
ul {
    list-style-type: none;
    margin: -20px;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
    margin:0
    
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 90px;
    text-decoration: none;
    font-family: 'Tulpen One';
    font-size: 25px;
  }
  
  
  li a:hover {
    background-color:grey;
  }
 
  h3
  {margin:100px;
    
    text-indent: 800px;
    text-decoration: underline;
    color:white;
    font-family: 'Sigmar One';
    font-size: 30px;
    

  }
  #para1 
  { 
    margin-top:-90px ;
    margin-left:600px;
       color:gray;
       font-size: 30px;
       margin-right: 100px;
       font-family: 'Trochut';
      

  }
  img
  {border-radius: 50%;
    border:5px solid black;
    margin-top:-350px;
margin-left: 50px;
  }
  h4
  {text-align: center;
    color:crimson;
    font-size: 40px;
    text-shadow: 3px 2px black;
    font-family: 'Vampiro One';

  }
  #para2
  {
    color:black;
    text-align: center;
    margin-top: -40px;
    font-family: 'Tenor Sans';
    font-size: 20px;
  }
  form

  {
      margin-left: 600px;
      margin-top:50px
      
  }
   input
   {border: 4px solid black;
    border-radius: 5px;  
    background-color:lightblue;

    

   }
   button
   { white-space: pre-line;
       background-color:black;
    color :white;
 

     }
  
    
  